*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;    
    transition: 0.3s;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

#container{
    width: 1440px;
    margin: 0 auto;
}

.inner-container{
    width: 61%;
    margin: 0 auto;
}

h1{
    font-weight: 500;
    font-size: 80px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

h2{
    font-weight: 400;    
    font-size: 50px;
    text-transform: uppercase;
    color: #222;
}

h3{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #222;
}

h5{
    margin-bottom: 35px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #999;
    text-align: center;
}

h6{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 25px;
    margin-left: 30px;
    color: #e6e6e6;
}

.redhr{
    width: 55px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 35px;
    border: 2px solid #c41230;
}

#dropdown,
#dropdown-social{
    display: none;
}

#for-small{
    display: none;
}

/* ------------------------- */

header{
    position: relative;    
    height: 695px;
    background-image: url(./images/header_background.jpg);
    background-position-y: 100%;
    background-repeat: no-repeat;
    border: 1px solid transparent;
}

nav{
    margin: 0 auto;    
    margin-top: 30px;
}

nav img{
    float: left;
    width: 148px;
}

#nav-links{
    float: right;
}

#nav-links ul li{
    display: inline;
    margin-left: 40px;
}

#nav-links ul li a{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #000;
    text-transform: uppercase;
}

#header-text{
    margin: 0 auto;
    margin-top: 210px;
    text-align: center; 
}

#header-text p{
    width: 545px;
    margin: 0 auto;    
    font-family: Helvetica, Sans-Serif;
    font-size: 24px;
    line-height: 35px;
}

/* ------------------- */

#rectangles{
    float: left;
    margin-bottom: 136px;        
    width: 100%;
}

.rectangle{
    height: 480px;
    width: 33.3333%;
	float: left;
    text-align: center;
    background-color: #fbfbfb;    
}

.rectangle img{
    height: 87px;
    margin-top: 95px;
    margin-bottom: 33px; 
}

.rectangle h4{
    margin-bottom: 22px;
    font-size: 18px;
    font-weight: 700;
    color: #222222;
    letter-spacing: 0.2em;
}

.rectangle hr{
    width: 50px;
    margin-bottom: 26px;
    display: inline-block;
    border: 1px solid #d0d0d0
}

.rectangle p{
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    width: 77%;
    margin: 0 auto;
    line-height: 1.5;
}

.rectangle:hover{
    background-color: #ededed;
    cursor: pointer;
}

/* ------------------------- */

#jobs{
    width: 100%;
    background-color: #fbfbfb
}

.job{
    height: 260px;
}

.job:hover{
    cursor: pointer;
    background-color: #222;
}

.job:hover h3, 
.job:hover p,
.job:hover li,
.job:hover button{
    color: #fff;
}

.job:hover button{
    border: 2px solid #fff;    
}

#jobs-desc{
    text-align: center;
}

#jobs-desc p{
    width: 48%;
    margin: 0 auto;
    margin-bottom: 85px;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.4;
}

.job-desc{
    float: left;
    width: 70%;
}

.job-desc p{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 40px;
}

.job-desc li{
    width: 88px;
    height: 30px;
    line-height: 30px;
    margin-right: 8px;
    color: #c41230;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    border: 1px solid #bbb;
}

.job button{
    float: right;
    margin-top: 100px;
    width: 166px;
    height: 40px;
    background: transparent;
    border: 2px solid #222;
    border-radius: 2px;
    text-transform: uppercase;
}

#btnMore{
    text-align: center;
    margin-top: 100px;
    padding-bottom: 230px;
}

#btnMore button{
    width: 222px;
    height: 50px; 
    background-color: #d7d7d7;
    color: #222;
    border: none;    
}

#btnMore button:hover,
.job button:hover{
    cursor: pointer;
}

/* ----------- */
#about{
    background-color: #fbfbfb;
    text-align: center;
}

#about p{
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    padding-bottom: 100px;
}
/* ---------------- */
#social{
    text-align: center;
    padding-top: 105px;
} 

#social img{
    width: 65px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 100px;
}

/* ----------- */
footer{
    height: 380px;
    background-color: #222;    
}

.inner-footer-wrap{
    width: 64%;
    margin: 0 auto;
}

.one-third{
    position: relative;
    width: 22%;
    float: left;
    margin-top: 136px;
    margin-bottom: 105px;
}

#beirut,
#belgrade{
    margin-left: 15%;
}

.one-third img{
    position: absolute;
    top: -10px;
}

.one-third li{
    color: #666;
    font-size: 15px;
    line-height: 1.5;
}

#small-footer{
    height: 68px;
    background-color: #1e1e1e;
}

#small-footer p{
    font-size: 12px;
    font-weight: 300;
    color: #434343;
    float: left;    
    margin-right: 50px; 
    margin-top: 15px;   
}

#footer-social{
    float: right;
    font-size: 14px;
}

#footer-social a{
    font-size: 14px;
    margin-bottom: 12px;   
    margin-right: 25px;
    color: #313131;
}

/* -------------------------- */
@media(max-width: 1400px){
    #container{
        width: 100%;
    }

    .inner-container{
        width: 90%;
    }

    nav{
        width: 80%;
    }

}

@media(max-width: 1024px){

    #icon{
        position: absolute;
        right: 0;
        top: 10%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 80px;
        cursor: pointer;
    }

    #hamburger{
        width: 30px;
        height: 3px;
        background: #222;
        position: absolute;        
        right: 5%;
        top: 25%;
        transform: translate(-50%, -50%);
        box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
        transition: .5s;
    }

    #hamburger:before,
    #hamburger:after{
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background: #222;
        box-shadow: 0 2px 5px rgba(253, 134, 134, 0.2);
        transition: .5s;        
    }

    #hamburger:before{
        top: -13px;
    }
    
    #hamburger:after{
        top: 13px;
    }
    
    #icon.active #hamburger{
        background: rgba(0, 0, 0, 0);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0);        
    }

    #icon.active #hamburger:before{
        top: 0;
        transform: rotate(45deg);
    }

    #icon.active #hamburger:after{
        top: 0;        
        transform: rotate(135deg);
    }

    /* ---------------- */

    #dropdown{
        position: absolute;
        background: rgba(34, 34, 34, 0.9);
        top: 70px;
        bottom: 0;
        text-align: center;
        right: 5%;
        left: 50%;
        display: none;
    }
    
    #dropdown ul{
        margin-top: 130px;
    }
    
    #dropdown li{
        margin-bottom: 50px;
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
        color: #b6b6b6;
    }
    
    #dropdown a{
        color: #b6b6b6;    
    }
    
    #dropdown-social{
        display: block;
        position: absolute;
        bottom: 35px;
        left: 55%;
        right: 10%;
        display: none;    
    }
    
    #dropdown-social p{
        float: left;
        font-size: 16px;
        text-transform: uppercase;
        color: #797878;
        letter-spacing: 1.5px;
    }
    
    #dropdown-social a{
        float: right;
        margin-left: 30px;
    }

    header{
        height: 490px;
        background-position: center;
        background-position-y: 100%;
    }

    #header-text{
        margin: 0 auto;
        margin-top: 112px;
        text-align: center; 
    }

    nav{
        width: 90%;
        margin-top: 8px;
    }
    
    #nav-links{
        display: none;
    }

    #header-text p{
        margin-bottom: 120px;
    }

    h1{
        font-size: 70px;
        margin-bottom: 35px;
    }

    #header-text .redhr{
        display: none;
    }

    .rectangle{
        height: 440px;
    }

    .rectangle img{
        height: 60px;
        margin-top: 40px;
    }

    .rectangle hr{
        width: 35px;
    }
    
    #jobs-desc p{
        width: 70%;
    }
}

@media(max-width: 980px){

    h1{
        font-size: 60px;
    }

    header{
        height: 560px;
    }

    #for-large{
        display: none;
    }

    #for-small{
        display: inline;
        font-size: 50px;        
    }

    .rectangle{
        width: 100%;    
    }

    .job{
        background-color: #f8f7f5;       
    }

    .job:hover{
        background-color: #fff;
    }
    
    .job:hover h3, 
    .job:hover p,
    .job:hover li,
    .job:hover button{
        color: #222;
    }

    .job:hover li{
        color: #c41230;
    }

    .job button{
        display: none;
    }

    .job-desc{
        width: 100%;
    }

    #jobs-desc p{
        display: inline-block;
        font-size: 20px;
    }
}